<nav class="side-menu">
       <ul>
          <li class="active"><a class="btn-nav" href="#" onclick="togglePanels('tr')"><img src="svg/talent.svg"/><br>Talent Review</a></li>
          <li><a class="btn-nav" href="#" onclick="togglePanels('ca')"><img src="svg/career.svg"/><br>Career aspirations</a></li>
          <li><a class="btn-nav" href="#" onclick="togglePanels('com')"><img src="svg/competencies.svg"/><br>Competencies</a></li>
          <li><a class="btn-nav" href="#" onclick="togglePanels('suc')"><img src="svg/successors.svg"/><br>Sucessors</a></li>
        </ul>
   </nav>

