<div id="busqueda">
   <div id="containergeneral">
      <form class="form-inline" action="/search" method="post">
          <div id="remote" class="resultadobusqueda">
           <input type="text" class="typeahead name" id="txt_busqueda" name="txt_busqueda" placeholder="Name">
           
           </div>
          <div class="resultadobusqueda btn-align">
            <button type="submit" class="load">Load</button>
          </div>
           <div class="resultadobusqueda">
             <div class="foto">
             <img src="/images/avatar.png"/>
             </div>
             <div class="datos">Nombre
              <br>Puesto
              <br>Area
             </div> 
           </div>  
      </form>     
   </div>  
</div>