<header>
  <div id="containergeneral">
    <div class="logo"><img src="/images/logo.png" /></div>
    <div class="logout" id="lnkLogout" hidden><a href="/logout">Logout</a></div>
    <div class="user" id="divUser" hidden>{{user}} /</div>
  </div>
  <script>
    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for(var i = 0; i <ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length,c.length);
            }
        }
        return "";
      } 

    if(getCookie('uid') != "") {
      $('#lnkLogout').show();
      $('#divUser').show();
    }

  </script>
</header>