{{> top-nav}}

    <div class="container sec-busqueda">
        
    <div class="row">
        <div class="col-lg-8">
    <form class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" id="txt_busqueda" placeholder="Name">
        </div>
         <button type="submit" class="btn-load">Load</button>
    </form>
        </div>
        <div class="col-lg-4">
        <h4>Personita</h4>
        </div>
        </div>
        </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <nav class="side-menu">
                <ul>
                    <li>Talent Review</li>
                    <li>Career aspirations</li>
                    <li>Competencies</li>
                    <li>Sucessors</li>
                </ul>
                    </nav>
            </div>
      <div class="col-lg-10 main-container">
        <h1 class="section-header">
            TALENT REVIEW
        </h1>
          <form action="/crear" method="post" class="form-horizontal">
          <div class="form-group">
          <label class="control-label">Potencial</label>
              <select class="form-control" data-with="fit">
                  <option>-Select-</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
              </form>
          </div>
    </div>